{{>header}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{>navbar}}

<form action="/addKabupaten" method="POST" enctype="multipart/form-data"
style="color: white; margin-top: 40px; width: 600px;
margin-left:400px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nama</label>
    <input type="text" class="form-control" name="nama">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Diresmikan</label>
    <input type="date" id="file" class="form-control" name="resmi">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Gambar</label>
    <input type="file" id="file" onchange="handleChange()" class="form-control" name="image">
    <div id="preview-cover"></div>
  </div>
  <div class="mb-3">
    <select name="provinsi" class="form-select">
      <option selected >Provinsi</option>
      {{#each provinsi}}
        <option value="{{this.id}}">{{this.nama}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="w-100 btn btn-lg btn-success green">Submit</button>
</form>

<script>
  function handleChange(){
    const previewElement = document.getElementById('preview-cover');
    const value = URL.createObjectURL(event.target.files[0]);
    console.log(value);
    previewElement.innerHTML = `<img src="${value}" style="width: 150px;" class="mt-3"/>`
  }
</script>


{{>footer}}